@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Delicious+Handrawn&family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&family=Delicious+Handrawn&family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&family=Delicious+Handrawn&family=Fjalla+One&family=Oswald&family=Roboto&display=swap');

html, body {
    display: grid;
    grid-template-rows: 1fr 6fr 0.3fr;
    height: 100vh;
    width: 100%;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('./images/pizza-main.jpg');
}

.header {
    display: grid;
    justify-content: left;
    padding-left: 5rem;
    align-items: center;
    font-family: 'Croissant One', cursive;
    font-size: 32px;
    color: aliceblue;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border-bottom: 1px rgb(139, 139, 139) solid;
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border-top: 1px rgb(139, 139, 139) solid;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.slogan {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: aliceblue;
    text-shadow: 50%;
    font-size: 64px;
}

.orderNowBtn {
    font-family: 'Roboto', sans-serif;
    border: 1px solid white;
    font-size: 24px;
    border-radius: 1rem;
    padding: 1rem;
    color: aliceblue;
    background: linear-gradient(to right, rgb(58, 58, 58, 0.9), rgb(82, 82, 82, 0.9));
    cursor: pointer;
}