@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Delicious+Handrawn&family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&family=Delicious+Handrawn&family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&family=Delicious+Handrawn&family=Fjalla+One&family=Oswald&family=Roboto&display=swap');

html, body {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('./images/pizza-main.jpg');
    min-width: 570px;
}

.header {
    display: flex;
    height: 7rem;
    justify-content: space-between;
    padding-left: 5rem;
    align-items: center;
    font-family: 'Croissant One', cursive;
    font-size: 32px;
    color: aliceblue;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border-bottom: 1px rgb(139, 139, 139) solid;
}

.tab-container {
    display: flex; 
    flex-wrap: nowrap; 
    height: 100%;
    padding-right: 1rem;
}

.tab {
    outline: none;
    background: none;
    color: aliceblue;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    border: none;
    margin: 0rem 1rem;
    cursor: pointer;
}

.main {
}

.footer {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border-top: 1px rgb(139, 139, 139) solid;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 15.5rem;
}

.menu {
    background-color: rgb(0, 0, 0, 0.75);
}

.menuContainer {
    display: grid;
    margin: 2rem 7rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.pizzaContainer {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.2fr;
    max-width: 30rem;
    min-width: 30rem;
    color: aliceblue;
    border-radius: 1rem;
    text-align: center;
    width: fit-content;
}

@media (max-width: 1200px) {
    .menuContainer {
        grid-template-columns: 1fr; /* Switch to one column on smaller screens */
        margin: 0;
    }
}

.pizzaImg {
    justify-self: center;
    align-self: center;
    height: 11rem;
    grid-row: 1 / 4;
    grid-column: 1;
}

.pizzaName {
    font-family: 'Fjalla One';
    color: rgb(228, 228, 228);
    font-size: 26px;
    align-self: center;
}

.pizzaDescription {
    font-family: 'Roboto', sans-serif;
    color: rgb(201, 201, 201);
    margin-top: -0.3rem;
}

.pizzaOrderBtn {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    grid-column: 2 / 3;
    background: none;
    background-color: rgb(82, 81, 81);
    width: 5rem;
    border: 1px solid rgb(255, 255, 255);
    justify-self: right;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 16px;
    margin-top: -1.5rem;
}

.slogan {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: aliceblue;
    text-shadow: 50%;
    font-size: 64px;
}

.orderNowBtn {
    font-family: 'Roboto', sans-serif;
    border: 1px solid white;
    font-size: 24px;
    border-radius: 1rem;
    padding: 1rem;
    color: aliceblue;
    background: linear-gradient(to right, rgb(58, 58, 58, 0.9), rgb(82, 82, 82, 0.9));
    cursor: pointer;
}